<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/handle-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>Parking.Go | Index Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>
        <section layout:fragment="handle-content">
            <div class="xs-pd-20-10 pd-ltr-20">
                <div class="title pb-20">
                    <h2 class="h2 mb-2">Parking Manager</h2>
                </div>
                <div class="row">
                    <div class="pull-left mb-2">
                        <select th:name="name" onchange="selected(value)" class="form-control">
                            <option value="all">--- Choose Parking ---</option>
                            <option th:each="item : ${listParking}" th:value="${item.name}" th:text="${item.name}" th:selected="(${selected} == ${item.name})"></option>
                        </select>
                    </div>
                </div>
                <div class="pd-20 card-box mb-30 mt-4">
                    <div th:if="${bookingRes}" class="table-res p-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Start Time</th>
                                    <th>Time Number</th>
                                    <th>Location Code</th>
                                    <th>Price</th>
                                    <th>Car Name</th>
                                    <th>License Plates</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${bookingRes}">
                                    <td data-label="#" class="id-table" th:text="${item.id}"></td>
                                    <td data-label="Start Time" th:text="${#temporals.format(item.starttime, 'dd-MM-yyyy HH:mm')}"></td>
                                    <td data-label="Time Number" th:text="${item.timenumber}"></td>
                                    <td data-label="Location Code" th:text="${item.locationcode}"></td>
                                    <td data-label="Price" th:text="${item.price}"></td>
                                    <td data-label="Car Name" th:text="${item.carname}"></td>
                                    <td data-label="License Plates" th:text="${item.lisenceplates}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" class="d-flex justify-content-end">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" th:href="@{'/h/status-parking/'+${selected}(page=${current - 1})}"><i class="dw dw-left-arrow-4"></i></a></li>
                                <li class="page-item" th:each="item : ${pageList}"><a class="page-link" th:text="${item}" th:href="@{'/h/status-parking/'+${selected}(page=${item})}"></a></li>
                                <li class="page-item"><a class="page-link" th:href="@{'/h/status-parking/'+${selected}(page=${current + 1})}" ><i class="dw dw-right-arrow-4"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div id="content-parking-status"></div> 
                </div>
            </div>
        </div>
    </section>
    <script th:inline="javascript" type="text/javascript" layout:fragment="code-javascript">
        if (([[${selected}]]) == "all") {
        loadAllTable(([[${loadStatusParkings}]]), "all-table");
        } else{
        loadAllTable(([[${loadStatusParkings}]]), "signle-table");
        }
        function loadAllTable(data, type) {
        var text = document.getElementById("content-parking-status");
        var list = data;
        var table = "";
        var call = 0;
        for (const item in list) {
        table += '<div class="div-all-table mb-4"><table id="' + type + '-select"><tbody><tr>';
        table += '<label id="' + type + '-label">' + list[item].parkingname + '</lable>'
                for (var i = 1; i < list[item].locationcode.length + 1; i++) {
        for (var j = 0; j < list[item].codebooked.length; j++) {
        if (list[item].locationcode[i - 1] == list[item].codebooked[j]) {
        table += '<td id="' + type + '-no">' + list[item].locationcode[i - 1] + "</td>";
        if (i != 0 && i % list[item].columnofrow == 0) {
        table += "</tr><tr>";
        }
        call = 1;
        break;
        }
        }
        if (call == 0) {
        table += '<td id="' + type + '-yes">' + list[item].locationcode[i - 1] + "</td>";
        if (i != 0 && i % list[item].columnofrow == 0) {
        table += "</tr><tr>";
        }
        } else {
        call = 0;
        }
        }
        table += "</tbody></table></div>";
        }
        if (type == "all-table") {
        text.style.textAlign = "left";
        text.style.color = "#4e73df";
        text.style.fontWeight = "600";
        text.className = "row d-flex justify-content-start"
        } else{
        text.style.color = "#4e73df";
        //row d-flex justify-content-center
        text.className = "row d-flex justify-content-center align-items-center pt-4"
        }
        text.innerHTML = table;
        }
        function selected(value) {
        location.href = "/h/status-parking/" + value;
        }
    </script>
</body>
</html>
