
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/handle-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>Scan QR Code Recharge</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css"></link>  
        <style>
            /* animation scanner */
            body {
                background-color: #26282a;
                color: #fff;
            }

            .main-container h1{
                text-align: center;
                color: #fff;
            }

            .container {
                position: relative;
            }

            .center {
                margin: 0 auto;
                text-align: center;
            }
        </style>
        <script type="text/javascript" th:src="@{/vendorsc/scripts/instascan.min.js}"></script>
    </head>
    <body>
        <div class="main-container" layout:fragment="handle-content">
            <h1>Scanner</h1>
            <div class="container">
                <video id="preview" style="transform: scaleX(1);"></video>
                <div class="body-scanner">
                    <div class='spacer'></div>
                    <div class='anim-box center spacer'>
                        <!-- empty first child used for corners -->
                        <div></div>
                        <div class='scanner'></div>
                    </div>
                    <div class='spacer'></div>
                </div>
            </div>
            <div class="form-comfirm" id="form-comfirm"></div>
        </div>
        <script layout:fragment="code-javascript">
            //
            var qrcontent;
            //get camera
            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
            //scan qrcode
            let scanner = new Instascan.Scanner({
                video: document.getElementById('preview')
            });
            scanner.addListener('scan', function (content) {
                qrcontent = content;
                console.log(content);
                //call api get list parking
                let myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    qrcontent: content
                });

                var requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: raw,
                    redirect: "follow"
                };
                var api = "http://localhost:8080/qr-code/content-recharge";
                fetch(api, requestOptions)
                        .then((response) => {
                            if (response.status == 200) {
                                return response.json();
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: 'Invalid QR Code, Please Check Again.',
                                    confirmButtonText: 'Retry?'
                                });
                                scanner.start();
                            }
                        })
                        .then((result) => {
                            //formComfirmE(result.fullname, result.amount);
                            alertFormComfirm(result.username, result.amount)
                        })
                        .catch((error) => console.log("error", error));
                console.log(this);
                scanner.stop();
            });
            function formComfirmE(name, amount) {
                const main = document.querySelector('.form-comfirm');
                const h3 = document.createElement('h3');
                const label = document.createElement('label');
                const accept = document.createElement('button');
                const cancel = document.createElement('button');
                const div = document.createElement('div');
                h3.innerText = 'Comfirm Request';
                label.innerText = 'User (' + name + ') requested to top up the wallet with an amount of ' + amount + ' VND.';

                accept.setAttribute('type', 'button');
                //accept.setAttribute('class', 'btn btn-primary');
                cancel.setAttribute('type', 'button');
                cancel.setAttribute('class', '', '#form-comfirm-cancel');
                accept.innerText = 'Accept!';
                cancel.innerText = 'Cancel!';

                div.setAttribute('class', 'd-flex justify-content-center col-12 col-md-12 col-lg-12');

                main.appendChild(h3);
                main.appendChild(label);
                div.appendChild(accept);
                div.appendChild(cancel);
                main.appendChild(div);
                main.style.display = "block";

                $(document).ready(function () {
                    $('#form-comfirm div button').click(function () {
                        var btnname = this.textContent;
                        if (btnname == 'Accept') {
                            console.log('click accept');
                            Swal.fire(
                                    'Good job!',
                                    'You clicked the button!',
                                    'success'
                                    );
                            //callApiRecharge(qrcontent);
                        } else if (btnname == 'Cancel') {
                            console.log('click cancel');
                        }
                    });
                });
            }
            function callApiRecharge(requestbody) {
                //call api get list parking
                let myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    qrcontent: requestbody
                });
                var requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: raw,
                    redirect: "follow"
                };
                var api = "http://localhost:8080/qr-code/scan-recharge";
                fetch(api, requestOptions)
                        .then((response) => {
                            if (response.status == 200) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Successful!',
                                    text: 'Successfully Recharge Wallet.',
                                    showConfirmButton: false,
                                    timer: 3000
                                });
                                scanner.start();
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: 'Invalid QR Code, Please Try Again.',
                                    confirmButtonText: 'Retry?'
                                });
                            }
                        })
                        .catch((error) => console.log("error", error));
            }
            function alertFormComfirm(name, amount) {
                /*const swalWithBootstrapButtons = Swal.mixin({
                 customClass: {
                 confirmButton: 'btn btn-success',
                 cancelButton: 'btn btn-danger',
                 popup: 'animate__animated animate__fadeInDown'
                 },
                 buttonsStyling: false
                 });*/

                Swal.fire({
                    title: 'Confirm Recharge Request?',
                    text: 'User (' + name + ') requested to top up the wallet with an amount of ' + amount + ' VND.',
                    showCancelButton: true,
                    confirmButtonText: 'Accept!',
                    cancelButtonText: 'Cancel!',
                    reverseButtons: true
                }
                ).then((result) => {
                    if (result.isConfirmed) {
                        callApiRecharge(qrcontent);
                    } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                            ) {
                        scanner.start();
                    }
                }
                );
            }
        </script>
    </body>
</html>