<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/handle-layout.html}">

    <head>
        <meta charset="utf-8">
        <title>ParkingGo | Dashboard Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>  
         <style>
            /* animation scanner */
            body {
                font-family: Lato;
                font-weight: 400;
                background-color: #26282a;
                color: white;
            }

            .main-container h1{
                text-align: center;
                color: white
            }

            .container {
                position: relative;
            }

            .center {
                margin: 0 auto;
                text-align: center;
            }
        </style>
        <script type="text/javascript" th:src="@{/vendorsc/scripts/instascan.min.js}"></script>
    </head>
    <body>
        <div class="main-container" layout:fragment="handle-content">
            <h1>Scanner</h1>
            <div class="container">
                <video id="preview" style="transform: scaleX(1);"></video>
                <div class="body-scanner">
                    <div class='spacer'></div>
                    <div class='anim-box center spacer'>
                        <!-- empty first child used for corners -->
                        <div></div>
                        <div class='scanner'></div>
                    </div>
                    <div class='spacer'></div>
                </div>
            </div>
            <div class="form-comfirm" id="form-comfirm"></div>
        </div>
        <script layout:fragment="code-javascript">
            //
            var qrcontent;
            //get camera
            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
            //scan qrcode
            let scanner = new Instascan.Scanner({
                video: document.getElementById('preview')
            });
            scanner.addListener('scan', function (content) {
                qrcontent = content;
                console.log(content);
                //call api get list parking
                let myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");
                
                var raw = JSON.stringify({
                    qrcontent: content
                });
                
                var requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: raw,
                    redirect: "follow"
                };
                var api = "http://localhost:8080/qr-code/content-booking";
                fetch(api, requestOptions)
                        .then((response) => {
                            if (response.status == 200) {
                                return response.json();
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!!!',
                                    text: 'Invalid qr code...',
                                    confirmButtonText: 'Retry?'
                                });
                                scanner.start();
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            alertFormComfirm(result);
                        })
                        .catch((error) => console.log("error", error));
                console.log(this);
                scanner.stop();
            });
            function callApiRecharge(requestbody) {
                //call api get list parking
                let myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");
                
                var raw = JSON.stringify({
                    qrcontent: requestbody
                });
                var requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: raw,
                    redirect: "follow"
                };
                var api = "http://localhost:8080/qr-code/scan-booking";
                fetch(api, requestOptions)
                        .then((response) => {
                            if (response.status == 200) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: '',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                scanner.start();
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!!!',
                                    text: 'Invalid qr code...',
                                    confirmButtonText: 'Retry?'
                                });
                            }
                        })
                        .catch((error) => console.log("error", error));
            }
            function alertFormComfirm(result) {
                var textBtn;
                var textChecIn = "";
                if (result.status == "CHECK IN") {
                    textBtn = 'Check In';
                }else{
                    textChecIn = "Check in at "+result.checkin;
                    textBtn = 'Check Out';
                }
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: result.parkingname,
                    html: '<div class="row g-4 mb-3 pb-3 text-left">\n\
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-4">Car: ' + result.carname + '</div>\n\
                                <div class="col-sm-12 col-md-12 col-lg-6 mt-4">Lisenceplates: ' + result.lisenceplates + '</div>\n\
                                <div class="col-sm-12 col-md-12 col-lg-12 mt-4">About: ' + result.starttime + ' to ' + result.endtime + '</div>\n\
                                <div class="col-sm-12 col-md-12 col-lg-12 mt-4">Status ' + result.status + '</div>\n\
                                <div class="col-sm-12 col-md-12 col-lg-12 mt-4">'+textChecIn+'</div>\n\
                            </div>',
                    showCancelButton: true,
                    confirmButtonText: textBtn,
                    cancelButtonText: 'Cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        callApiRecharge(qrcontent);
                    } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                            ) {
                        scanner.start();
                    }
                });
            }
//            function plusHours(datetime, nhours) {
//                let datetimeformat = new Date();
//                datedatetime = Date.parse(datetime);
//                console.log(datetimeformat);
//                console.log(datetimeformat.getHours());
//                datetimeformat = datetimeformat.setHours((datetimeformat.getHours()) + nhours);
//                console.log(datetimeformat);
//                return datetimeformat;
//            }
        </script>
    </body>
</html>