<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" th:href="@{/vendorsc/images/icon.png}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/core.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/icon-font.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/fix.css}">
        <script type="text/javascript" th:src="@{/vendorsc/scripts/fix.js}"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="header-left">
                <div class="menu-icon dw dw-menu"></div>
            </div>
            <div class="header-right">
                <div class="user-info-dropdown">
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <span class="user-icon">
                                <img th:src="@{/vendorsc/images/photo.jpg}" alt="">
                            </span>
                            <span class="user-name" th:text="${session.account.getFullname().toString()}"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                            <a class="dropdown-item" th:href="@{/account/logout}"><i class="dw dw-logout-2"></i>&nbsp;Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-side-bar">
            <div class="brand-logo">
                <a>
                    <!--<img th:src="@{/vendorsc/images/icon.png}" alt="" class="light-logo">-->
                    <span>ParkingGo</span>
                </a>
                <div class="close-sidebar" data-toggle="left-sidebar-close">
                    <i class="ion-close-round"></i>
                </div>
            </div>
            <div class="menu-block customscroll sidebar-light">
                <div class="sidebar-menu">
                    <ul id="accordion-menu">
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle">
                                <span class="micon dw dw-bar-chart-1"></span><span class="mtext">Revenue Chart</span>
                            </a>
                            <ul class="submenu">
                                <li><a th:href="@{/a/revenue/month}">Month of Year</a></li>
                                <li><a th:href="@{/a/revenue/day}">Day of Month</a></li>
                            </ul>
                        </li>                      
                        <li>
                            <a th:href="@{/list-user?page=1}" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-user-13"></span><span class="mtext">User Manager</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle">
                                <span class="micon dw dw-map"></span><span class="mtext">Parking Manager</span>
                            </a>
                            <ul class="submenu">
                                <li><a th:href="@{/a/list-parking}">View</a></li>
                                <li><a th:href="@{/a/parking-history/all/?page=0}">History</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/a/list-transaction?page=0" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-money-1"></span><span class="mtext">Transaction History</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mobile-menu-overlay"></div>
        <!-- Admin Content Start -->
        <div class="main-container" layout:fragment="admin-content"></div>
        <!-- Admin Content End -->
        <!-- JavaScript -->
        <script th:src="@{/vendorsc/scripts/core.js}"></script>
        <script th:src="@{/vendorsc/scripts/script.min.js}"></script>
        <script th:src="@{/vendorsc/scripts/fix.js}"></script>
        <script th:src="@{/vendorsc/scripts/show-hide.js}"></script>
        <script type="text/javascript" layout:fragment="code-javascript"></script>
    </body>

</html>