<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <!-- Icon -->
        <link rel="icon" type="image/png" th:href="@{/vendorsc/images/icon.png}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Link -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css"th:href="@{/vendorsc/styles/core.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/icon-font.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/fix.css}">
        <!-- Script -->
        <script type="text/javascript" th:src="@{/vendorsc/scripts/fix.js}"></script>
    </head> 
    <body class="login-page">
        <div class="login-header box-shadow">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="brand-logo">
                    <a>
                        <img th:src="@{/vendorsc/images/icon.png}" alt="">
                        <span>arkingGo</span>
                    </a>
                </div>
                <div class="login-menu">
                    <ul>
                        <li><a th:href="@{/account/register}">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center" id="form-account-fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-6 d-flex justify-content-center">
                        <img th:src="@{/vendorsc/images/login-page-img.png}" alt="">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="login-box bg-white box-shadow border-radius-10">
                            <div class="login-title">
                                <h2 class="text-center">Login to Parking Go</h2>
                            </div>
                            <form th:action="@{/account/login}" th:object="${authenticate}" method="POST">
                                <div class="row row-login-box">
                                    <div class="col-12 col-md-12 col-mess-all">
                                        <div class="invalid-feedback check-message-box">
                                            <label class="error-mes" role="alert" th:if="${errormes}" th:text="${errormes}"></label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12">
                                        <div class="input-group custom mt-2">
                                            <input type="text" th:field="*{username}" class="form-control form-control-md" placeholder="*Username">
                                            <div class="input-group-append custom">
                                                <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                                            </div>
                                        </div>
                                        <div class="custom">
                                            <div class="invalid-feedback">
                                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12">
                                        <div class="input-group custom mt-4">
                                            <input type="password" th:field="*{password}" class="form-control form-control-md" placeholder="*Password">
                                            <div class="input-group-append custom">
                                                <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                                            </div>
                                        </div>
                                        <div class="custom">
                                            <div class="invalid-feedback">
                                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="row pb-30">
                                    <div class="col-12">
                                        <div class="forgot-password mt-2"><a href="">Forgot Password</a></div>
                                    </div>
                                </div>-->
                                <div class="row pt-30">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-0">
                                            <button class="btn btn-color btn-md btn-block" type="submit" >Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Script -->
        <script th:src="@{/vendorsc/scripts/core.js}"></script>
        <script th:src="@{/vendorsc/scripts/script.min.js}"></script>
    </body>
</html>
