<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <!-- Basic Page Info -->
        <meta charset="utf-8">
        <title>ParkingGo | Register Page</title>
        <link rel="icon" type="image/png" th:href="@{/vendorsc/images/icon.png}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/core.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/icon-font.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/src/plugins/jquery-steps/jquery.steps.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/fix.css}">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
        <script type="text/javascript" th:src="@{/vendorsc/scripts/fix.js}"></script>
    </head>

    <body class="login-page">
        <!-- Register Start -->
        <div class="login-header box-shadow">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="brand-logo">
                    <a href="">
                        <img th:src="@{/vendorsc/images/icon.png}" alt="">
                        <span>arkingGo</span>
                    </a>
                </div>
                <div class="login-menu">
                    <ul>
                        <li><a th:href="@{/account/login}">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center" id="form-account-fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-6 d-flex justify-content-center">
                        <img th:src="@{/vendorsc/images/register-page-img.png}" alt="">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="login-box bg-white box-shadow border-radius-10">
                            <div class="login-title">
                                <h2 class="text-center text-primary">Register to Parking Go</h2>
                            </div>
                            <form th:action="@{/account/register}" th:object="${registerReq}" method="POST">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="input-group custom mt-3">
                                            <input th:field="*{username}" type="text" class="form-control form-control-sm" placeholder="*Username">
                                        </div>   
                                        <div class="custom">
                                            <div class="invalid-feedback">
                                                <span>Username must be between 6 and 25 characters</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="input-group custom mt-3">
                                            <input th:field="*{password}" type="password" class="form-control form-control-sm" placeholder="*Password">
                                        </div>
                                        <div class="custom">
                                            <div class="invalid-feedback">
                                                <span>Password must be between 6 and 25 characters</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="input-group custom mt-3">
                                            <input th:field="*{fullname}" type="text" class="form-control form-control-sm" placeholder="*Full Name">
                                        </div>
                                        <div class="custom">
                                            <div class="invalid-feedback">
                                                <span>Full Name can not be blank</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="input-group custom mt-3">
                                            <input th:field="*{phone}" type="number" class="form-control form-control-sm" placeholder="*Phone">
                                        </div>
                                        <div class="custom">
                                            <div class="invalid-feedback">
                                                <span>Phone can not be blank</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <!--<label>Date Of Birth</label>-->
                                        <div class="input-group custom mt-3">
                                            <input th:field="*{dob}" type="date" class="form-control form-control-sm">
                                        </div>
                                        <div class="custom">
                                            <div class="invalid-feedback">
                                                <span>Date of Birth can not be blank</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <!--<label>Gender</label>-->
                                        <div class="input-group custom mt-3">
                                            <div class="form-check form-check-inline mt-2">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" th:field="*{gender}" value="0">
                                                <label class="form-check-label" for="inlineRadio1">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline mt-2">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" th:field="*{gender}" value="1">
                                                <label class="form-check-label" for="inlineRadio2">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="input-group custom mt-3">
                                            <input th:field="*{identitycard}" type="number" class="form-control form-control-sm" placeholder="*Identity Card">
                                        </div>
                                        <div class="custom">
                                            <div class="invalid-feedback">
                                                <span>Identity Card can not be blank</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12 mt-3">
                                        <div class="input-group custom">    
                                            <input th:field="*{email}" type="email" class="form-control form-control-sm" placeholder="*Email">
                                        </div>
                                        <div class="custom">
                                            <div class="invalid-feedback">
                                                <span>Email can not be blank</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-0 mt-4">
                                            <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Register End -->
        <!-- JavaScript -->
        <script th:src="@{/vendorsc/scripts/core.js}"></script>
        <script th:src="@{/vendorsc/scripts/script.min.js}"></script>
        <script th:src="@{/vendorsc/scripts/process.js}"></script>
        <script th:src="@{/vendorsc/scripts/layout-settings.js}"></script>
        <script th:src="@{/src/plugins/jquery-steps/jquery.steps.js}"></script>
        <script th:src="@{/vendorsc/scripts/steps-setting.js}"></script>
    </body>

</html>