<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title>ParkingGo | Register Page</title>
        <link rel="icon" type="image/png" th:href="@{/vendorsc/images/icon.png}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/core.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/icon-font.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/vendorsc/styles/fix.css}">
        <script type="text/javascript" th:src="@{/vendorsc/scripts/fix.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body class="login-page">
        <div class="login-header box-shadow">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="brand-logo">
                    <a>
                        <img th:src="@{/vendorsc/images/icon.png}" alt="">
                        <span>arkingGo</span>
                    </a>
                </div>
                <div class="login-menu">
                    <ul>
                        <li><a th:href="@{/account/login}">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center form-account-register" id="form-account-fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-6 d-flex justify-content-center">
                        <img th:src="@{/vendorsc/images/register-page-img.png}" alt="">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="login-box bg-white box-shadow border-radius-10">
                            <div class="login-title">
                                <h2 class="text-center">Register to Parking Go</h2>
                            </div>
                            <form th:action="@{/account/register}" th:object="${registerReq}" method="POST" name="form-register" onsubmit="return validateRegister()">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-mess-all">
                                        <div class="invalid-feedback check-message-box">
                                            <label class="error-mes" role="alert" th:if="${errormes}" th:text="${errormes}"></label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="input-group custom mt-2">
                                            <input autocomplete="off" th:field="*{username}" name="username" type="text" class="form-control form-control-md" placeholder="*Username">
                                            <div class="input-group-append custom">
                                                <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                                            </div>
                                        </div>   
                                        <div class="row">
                                            <div class="col-12 col-margin-left-15">
                                                <div class="invalid-feedback message-box error-username" id="error-username"></div> 
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="input-group custom mt-4">
                                            <input autocomplete="off" th:field="*{password}" type="password" name="password" class="form-control form-control-md" placeholder="*Password">
                                            <div class="input-group-append custom">
                                                <span class="input-group-text"><i class="icon-copy dw dw-padlock1"></i></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-margin-left-15">
                                                <div class="invalid-feedback message-box error-password" id="error-password"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="input-group custom mt-4">
                                            <input autocomplete="off" th:field="*{fullname}" type="text" name="fullname" class="form-control form-control-md" placeholder="*Full Name">
                                            <div class="input-group-append custom">
                                                <span class="input-group-text"><i class="icon-copy dw dw-user2"></i></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-margin-left-15">
                                                <div class="invalid-feedback message-box message-col-6 error-fullname" id="error-fullname"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="input-group custom mt-4">
                                            <input autocomplete="off" th:field="*{phone}" type="number" name="phone" class="form-control form-control-md" placeholder="*Phone">
                                            <div class="input-group-append custom">
                                                <span class="input-group-text"><i class="icon-copy dw dw-phone-call"></i></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-margin-left-15">
                                                <div class="invalid-feedback message-box message-col-6 error-phone" id="error-phone"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="input-group custom mt-4">
                                            <input autocomplete="off" th:field="*{dob}" type="date" name="dob" placeholder="*Date:&nbsp;" class="form-control form-control-md">
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-margin-left-15">
                                                <div class="invalid-feedback message-box message-col-6 error-dob" id="error-dob"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <!--<label>Gender</label>-->
                                        <div class="row input-group custom form-check-radio">
                                            <div class="form-check mt-2 col-6">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" th:field="*{gender}" value="0">
                                                <label class="form-check-label" for="inlineRadio1">Male</label>
                                            </div>
                                            <div class="form-check mt-2 col-6">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" th:field="*{gender}" value="1">
                                                <label class="form-check-label" for="inlineRadio2">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="input-group custom mt-4">
                                            <input autocomplete="off" th:field="*{identitycard}" type="number" name="identitycard" class="form-control form-control-md" placeholder="*Identity Card">
                                            <div class="input-group-append custom">
                                                <span class="input-group-text"><i class="icon-copy dw dw-id-card2"></i></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-margin-left-15">
                                                <div class="invalid-feedback message-box error-identitycard" id="error-identitycard"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="input-group custom mt-4">    
                                            <input th:field="*{email}" type="text" name="email" class="form-control form-control-md" placeholder="*Email">
                                            <div class="input-group-append custom">
                                                <span class="input-group-text"><i class="icon-copy dw dw-email"></i></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-margin-left-15">
                                                <div class="invalid-feedback message-box error-email " id="error-email"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-0 mt-4">
                                            <button class="btn btn-color btn-md btn-block" type="submit">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/vendorsc/scripts/core.js}"></script>
        <script th:src="@{/vendorsc/scripts/script.min.js}"></script>
        <script th:src="@{/vendorsc/scripts/validate.js}"></script>
    </body>
</html>