/* Google Map CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

.wrapper-google-map {
    height: 100%;
    width: 300px;
    position: relative;
}

.wrapper-google-map .menu-btn {
    position: absolute;
    left: 185px;
    top: 10px;
    background: #fff;
    color: black;
    height: 40px;
    width: 40px;
    z-index: 9999;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#btn:checked~.menu-btn {
    left: 301px;
    top: 13.8px;
}

.wrapper-google-map .menu-btn i {
    position: absolute;
    font-size: 18px;
    transition: all 0.3s ease;
}

.wrapper-google-map .menu-btn i.fa-times {
    opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
    opacity: 1;
    transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
    opacity: 0;
    transform: rotate(180deg);
}

#btn:checked~#sidebar {
    left: 0;
}

#sidebar .title {
    background: #1b00ff;
    border-bottom: 1px solid #1b00ff;
    font-style: 'Arial', sans-serif !important;
}

#sidebar .title h4 {
    line-height: 65px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.content-google-map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    text-align: center;
}

#map {
    width: 100%;
    height: 100vh;
}

#sidebar {
    position: fixed;
    background: #fff;
    height: 100%;
    width: 320px;
    left: -320px;
    transition: all 0.3s ease;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1b00ff;
}

.wrapper-google-map .location-btn {
    position: absolute;
    left: 230px;
    top: 10px;
}

.wrapper-google-map .location-btn button {
    background: #fff;
    color: black;
    height: 40px;
    width: 40px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-parking {
    max-width: 250px;
    text-align: left;
    color: #000000;
}

.gm-style-iw-c {
    text-align: left;
}

#content-parking strong {
    font-weight: 600;
    font-size: 14px;
}

#content-parking .direction {
    background-color: #1b00ff;
    color: #fff;
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 5px;
}

.shop-item .booking-list {
    background-color: #198754;
    color: #fff;
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 5px;
    float: right;
}

#content-parking .direction:hover {
    background-color: #1502bd;
}

.shop-item .booking-list:hover {
    background-color: #157347;
}

#sidebar .form-direction input {
    background-color: #1b00ff;
    border: 0;
    outline: 0;
    color: #fff;
}

#sidebar .form-direction input:focus {
    outline: 0;
}

#sidebar .form-direction .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper-google-map ul.list-items {
    padding: 0rem 1rem;
    list-style-type: none;
}

#sidebar .list-items .shop-item a {
    text-decoration: none;
    font-size: 16px;
    color: #1b00ff;
    font-weight: 600;
    text-transform: capitalize;
}

#sidebar .list-items .shop-item p {
    font-size: 14px;
    color: #404040;
}

#sidebar .list-items .shop-item {
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#sidebar .list-items li:last-child .shop-item {
    border: none;
}

#sidebar .list-google-map ul.list-items {
    list-style: none;
}

#sidebar .list-items {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    list-style: none;
}

#sidebar .list-items li:first-child {
    border-top: none;
}

#sidebar .list-items li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
}

#sidebar .list-items li a i {
    margin-right: 20px;
}

#sidebar .result-list {
    padding-left: 1rem;
    margin-top: 1rem;
    font-size: 16px;
    font-style: italic;
    color: #dc3545;
    font-weight: 600;
}

#list-google-map .page-item a:hover {
    color: #1502bd;
}

#sidebar .title h4 button {
    position: absolute;
    left: 10px;
    background-color: #1b00ff;
    color: #fff;
    border: 0;
    outline: 0;
}