/********** Template CSS **********/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

:root {
    --primary: #1b00ff;
    --secondary: #0B2154;
    --light: #F2F2F2;
    --dark: #111111;
}

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/

.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    /* text-transform: uppercase; */
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(0, 0, 0, .7);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Facts ***/

.fact {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-bg-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Service ***/

.service .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.service .nav .nav-link.active {
    background: var(--primary);
}

.service .nav .nav-link.active h4 {
    color: #FFFFFF !important;
}


/*** Booking ***/

.booking {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-bg-2.jpg) center center no-repeat;
    background-size: cover;
}

.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Team ***/

.team-item .team-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transform: scale(0);
    transition: .5s;
}

.team-item:hover .team-overlay {
    transform: scale(1);
}

.team-item .team-overlay .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-overlay .btn:hover {
    color: #FFFFFF;
    background: var(--secondary)
}


/*** Testimonial ***/

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/

.footer {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../img/carousel-bg-1.jpg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/*--------------------------------------------------- Fix.Css ---------------------------------------------------*/
/* logo navbar */

nav .navbar-brand h4 img {
    width: 40px;
}

nav .navbar-brand .span-logo {
    font-weight: 600;
    font-size: 22px;
}


/* icon css */

.fa-github {
    color: #202020 !important;
}

.fa-twitter {
    color: #87ceeb !important;
}

.fa-youtube {
    color: #dc3545 !important;
}

/* footer */

.footer .btn-social {
    background-color: #fff !important;
    border: 1px solid #202020;
}

.footer .btn-social:hover {
    background-color: #fff !important;
}

.footer .btn .fa-facebook-f {
    color: #1b00ff !important;
}


/* navbar menu */

.navbar .megamenu {
    padding: 1rem;
}

.navbar .megamenu-title {
    padding: 0.25rem 1rem;
    border-bottom: 1px solid #1b00ff;
}

.navbar .megamenu img {
    width: 100%;
    height: auto;
}

.navbar .megamenu .ios-android {
    padding: 6px;
    width: 140px;
}

.carousel-inner .img-fluid {
    max-width: 78%;
}


/* profile */
table tr th {
    font-size: 14px;
    color: var(--dark);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}


.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: none !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#form_profile #label-fullname #basic-addon1, 
#form_profile #label-dob #basic-addon1,
#form_profile #label-wallet #basic-addon1, 
#form_profile #label-phone #basic-addon1, 
#form_profile #label-email #basic-addon1, 
#form_profile #label-identitycard #basic-addon1, 
#form-parking-booking #label-transport #basic-addon1,
#form-parking-booking #label-lisence-plates #basic-addon1,
#form-parking-booking #label-start-time #basic-addon1,
#form-parking-booking #label-time-number #basic-addon1{
    color:#fff;
    width: 100%; 
    display: block;
}

#form_profile #label-fullname #basic-addon1,
#form-parking-booking #label-transport #basic-addon1{
    background-color: #dc3545;
}

#form_profile #label-dob #basic-addon1,
#form-parking-booking #label-start-time #basic-addon1{
    background-color: #1b00ff;
}

#form_profile #label-wallet #basic-addon1 {
    background-color: #198754;
}

#form_profile #label-phone #basic-addon1,
#form-parking-booking #label-time-number #basic-addon1{
    background-color: #FF9A19;
}

#form_profile #label-email #basic-addon1 {
    background-color: #0dcaf0;
}

#form_profile #label-identitycard #basic-addon1,
#form-parking-booking #label-lisence-plates #basic-addon1{
    background-color: #06283D;
}

#form_profile #label-fullname #basic-addon1 span,
#form_profile #label-dob #basic-addon1 span, 
#form_profile #label-wallet #basic-addon1 span,
#form_profile #label-phone #basic-addon1 span,
#form_profile #label-email #basic-addon1 span, 
#form_profile #label-identitycard #basic-addon1 span, 
#form-parking-booking #label-transport #basic-addon1 span,
#form-parking-booking #label-lisence-plates #basic-addon1 span,
#form-parking-booking #label-start-time #basic-addon1 span,
#form-parking-booking #label-time-number #basic-addon1 span{
    font-size: 14px;
}

#form_profile .qrcode { 
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    border: 3px solid #202020;
    padding: 0px;
    display: block;
}

#form_profile .title-qrcode , 
#form-direct-payment .title-direct-payment-qrcode {
    text-align: center;
    font-style: italic;
}

#form_profile .col-profile-button-edit {
    width: 100% !important;
}
#form_profile .col-profile-button-edit button, 
#form_profile .col-profile-button-edit a, 
#form-direct-payment .btn-qrcode-direct-payment, 
#form-electronic-payment .btn-electronic-payment, 
#form-parking-booking #save-parking-booking, 
#form-parking-booking #back-to-google-map{
    text-transform: capitalize;
    width: 190px;
}

#form_profile .col-profile-button-edit .btn-save-profile,  
#form_profile .col-profile-button-edit .btn-cancel-profile{
    display: none;
}

#form_profile .invalid-feedback,
#form-direct-payment .invalid-feedback,
#form-electronic-payment .invalid-feedback{
    display: block;
    padding-left: 2px;
    margin-top:40px;
}

#form_profile .mess-box {
    width: 100%;
    color: #fff;
    background: #dc3545;
    display: none;
    z-index: 999;
    position: absolute;
    padding: 10px;
    font-size: 80%;
}

#form-direct-payment .mess-box-direct-payment,
#form-electronic-payment .mess-box-electronic-payment{
    width: 100%;
    color: #fff;
    background: #dc3545;
    display: none;
    z-index: 999;
    position: absolute;
    padding: 10px;
    font-size: 80%;
}

#form-electronic-payment .mess-box-payment-method {
    width: 100%;
    color: #fff;
    background: #dc3545;
    display: none;
    z-index: 999;
    position: absolute;
    padding: 10px;
    font-size: 80%;
}

#form-electronic-payment .box-error-payment-method .invalid-feedback {
    padding-left: 10px;
    margin-top: -25px;
    margin-left: -12px;
}

.col-direct-payment-qrcode .direct-payment-qrcode {
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    padding: 0px;
    display: block;
}

.col-direct-payment-qrcode .get-qrcode {
    border: 3px solid #202020;
}

#direct-payment .show-wallet label,
#electronic-payment .show-wallet label {
    float: right;
    font-size: 16px;
}

#form-direct-payment #label-wallet #basic-addon1 {
    color:#fff;
    width: 100%; 
    display: block;
    background-color: #198754;
}

#form-electronic-payment #label-wallet #basic-addon1 {
    color:#fff;
    width: 100%; 
    display: block;
    background-color: #198754;
}

#form-direct-payment .select-amount input, 
#form-electronic-payment .select-amount input {
    text-transform: none;
    width: 100%;
}

#form-electronic-payment .label-payment-method,
#form-electronic-payment .label-input-payment, 
#form-direct-payment .label-input-payment,
#form-parking-booking .label-payment-method{
    font-size: 17px;
    font-weight: 500;
}

#form-electronic-payment .label-input-payment {
    margin-bottom: 18.5px !important;
}

#form-electronic-payment .momo, 
#form-electronic-payment .zalopay,
#form-parking-booking .momo,
#form-parking-booking .zalopay,
#form-parking-booking .wallet{
    width: 50px;
    cursor: pointer;
}

#form-electronic-payment .form-momo,
#form-electronic-payment .form-zalopay,
#form-parking-booking .form-momo,
#form-parking-booking .form-zalopay,
#form-parking-booking .form-wallet{
    padding: 5px 0;
}

/* radio */
#form-electronic-payment .form-momo input[type="radio"],
#form-electronic-payment .form-zalopay input[type="radio"],
#form-parking-booking .form-momo input[type="radio"],
#form-parking-booking .form-zalopay input[type="radio"],
#form-parking-booking .form-wallet input[type="radio"]{
    width: 20px;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
}

#form-electronic-payment .row-form-check-radio-for-payment {
    padding: 12px;
}

#form-electronic-payment .row-form-check-radio-for-payment .form-momo,
#form-electronic-payment .row-form-check-radio-for-payment .form-zalopay{
    background-color: #f4f4f4;
    border: thin solid #e4e4e4;
    padding-top: 10px;
    padding-bottom: 10px;
}

#e-payment-detail .icon-success-e-payment {
    width: 50%;
}

#form-e-payment-detail .invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    line-height: 24px;
    font-family: 'Arial', sans-serif;
}


#form-e-payment-detail .invoice-box table tr td,
#form-e-payment-detail .invoice-box table tr th {
    padding: 10px;
    font-size: 16px;
}

#form-e-payment-detail .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}
#form-e-payment-detail .invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

#form-e-payment-detail .invoice-box table tr td:nth-child(2){
    text-align: right;
}

/* btn */

.btn {
    font-family: 'Inter', sans-serif;
}

.wallet {
    width: 40px;
}

/* badge */

.badge {
    padding: 0.75em;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

/* tab list */

.tab-content h2 {
    color: #1b00ff;
}

.tab-pane th {
    color: #1b00ff;
    font-family: var(--bs-font-sans-serif);
}

/* form control */

.form-control:disabled,
.form-control:read-only {
    background-color: #fff;
}

.form-control {
    border-radius: 5px;
}

#booking-list .table-hover tbody tr:hover{
    cursor: pointer;
}

/* ============ Desktop View ============ */

@media all and (min-width: 992px) {
    .navbar .has-megamenu,
    .navbar .has-user-menu {
        position: static!important;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
    .navbar .user-menu {
        left: auto;
        right: 0;
        margin-top: 0;
    }
    .navbar-nav.navbar-center {
        position: absolute;
        left: 52%;
        transform: translatex(-52%);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/* ============ Desktop View .End// ============ */


/* ============ Mobile View ============ */

@media screen and (max-width: 1200px) {
    .col-direct-payment-qrcode .direct-payment-qrcode {
        max-width: 35%;
    }
}

@media screen and (max-width: 991.20px) {
    #form_profile .col-profile-button-edit, 
    #form-direct-payment .col-btn-qrcode-direct-payment, 
    #form-electronic-payment .col-btn-electronic-payment,
    #form-parking-booking .col-btn-parking-booking{
        display: flex; 
        justify-content: center;
    }

    #form_profile .col-profile-button-edit button, 
    #form_profile .col-profile-button-edit a,
    #form-direct-payment .btn-qrcode-direct-payment
    #form-electronic-payment .btn-electronic-payment,
    #form-parking-booking #save-parking-booking, 
    #form-parking-booking #back-to-google-map{
        width: 235px;
    }

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    #form_profile .qrcode {
        max-width: 25%;
    }

    .col-direct-payment-qrcode .direct-payment-qrcode {
        max-width: 25%;
    }
}

@media screen and (max-width: 768px) {
    #form_profile .qrcode {
        max-width: 35%;
    }

    #form_profile .col-profile-button-edit button, 
    #form_profile .col-profile-button-edit a, 
    #form-direct-payment .btn-qrcode-direct-payment, 
    #form-electronic-payment .btn-electronic-payment,
    #form-parking-booking #save-parking-booking, 
    #form-parking-booking #back-to-google-map{
        width: 100%;
    }

    .col-direct-payment-qrcode .direct-payment-qrcode {
        max-width: 35%;
    }
}

@media screen and (max-width:567px){
    #form_profile .col-profile-button-edit button, 
    #form_profile .col-profile-button-edit a, 
    #form-direct-payment .btn-qrcode-direct-payment, 
    #form-electronic-payment .btn-electronic-payment,
    #form-parking-booking #save-parking-booking, 
    #form-parking-booking #back-to-google-map{
        width: 100%;
    }
}
