<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>Parking.Go | Feedback Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <div class="main-container" layout:fragment="admin-content">
            <div class="xs-pd-20-10 pd-ltr-20">
                <div class="title pb-20">
                    <h2 class="h3 mb-2">Feedback</h2>
                </div>
                <!-- basic table  Start -->
                <div class="pd-20 card-box mb-30" id="list-index">
                    <div class="clearfix mb-20">
                        <div class="">
                            <h6>Search By Date</h6>
                        </div>
                        <div class="pt-2">
                            <div class="pull-left">
                                <div class="row">
                                    <div class="col-12 col-lg-5 col-md-5 col-sm-5 p-1">
                                        <input type="text" class="form-control" placeholder="From...">
                                    </div>
                                    <div class="col-12 col-lg-5 col-md-5 col-sm-5 p-1">
                                        <input type="text" class="form-control" placeholder="To...">
                                    </div>
                                    <div class="col-12 col-lg-2 col-md-2 col-sm-2 p-1">
                                        <button type="submit" class="btn btn-sm btn-primary m-1"><i class="dw dw-search2 search-icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-responsive-md table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Content</th>
                                <th scope="col">Date Time</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Parking Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>This is content</td>
                                <td>2/7/2022 18:00:20</td>
                                <td>user1234</td>
                                <td>Le Thi Rieng Parking Lot</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>This is content</td>
                                <td>2/7/2022 15:17:34</td>
                                <td>user2256</td>
                                <td>Cao Thang Parking Lot</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="collapse collapse-box" id="basic-table">
                        <div class="code-box">
                            <div class="clearfix">
                                <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left" data-clipboard-target="#basic-table-code"><i class="fa fa-clipboard"></i> Copy
                                    Code</a>
                                <a href="#basic-table" class="btn btn-primary btn-sm pull-right" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pd-20 card-box mb-30" id="list-create" style="display:none;">
                    <div class="clearfix mb-20">
                        <div class="pull-left">
                            <h6>Create Parking</h6>
                        </div>
                        <div class="pull-right">
                        </div>
                    </div>
                    <form>
                        <ul class="profile-edit-list row">
                            <li class="weight-500 col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control form-control" type="text" value="Dong Phuong 4" readonly="true">
                                </div>
                                <div class="form-group">
                                    <label>Latitude</label>
                                    <input class="form-control form-control" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control form-control" type="text" value="309 Dong Hung Thuan 29">
                                </div>

                            </li>
                            <li class="weight-500 col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Number of Parking</label>
                                    <input class="form-control form-control" type="text" value="20">
                                </div>
                                <div class="form-group">
                                    <label>Longitude</label>
                                    <input class="form-control form-control" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <label>Rent Cost</label>
                                    <input class="form-control form-control" type="text" value="20/h">
                                </div>
                            </li>
                            <li class="weight-500 col-12 col-md-12">
                                <div class="form-group mb-0 weight">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Update">
                                    <a href="#" class="btn btn-sm btn-danger" id="index"><i class="fa fa-arrow-circle-left"></i> Cancel</a>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- basic table  End -->
                <div class="footer-wrap pd-20 mb-20 card-box">
                    Parking.Go Make By <a href="#" target="_blank">T1.2008.A0</a>
                </div>
            </div>
        </div>

    </body>

</html>