<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin-layout.html}">

    <head>
        <meta charset="utf-8">
        <title>ParkingGo | Parking History Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <div class="main-container" layout:fragment="admin-content">
            <div class="xs-pd-20-10 pd-ltr-20">
                <div class="title pb-20">
                    <h2 class="h2 p-1 mb-2">Parking History</h2>
                </div>
                <!-- basic table  Start -->
                <div class="pd-20 card-box mb-30" id="list-index">
                    <div class="clearfix mb-20">
                        <div class="p-1">
                            <h6>Search Booking Time</h6>
                        </div>
                        <div class="pt-1">
                            <div class="pull-left">
                                <div class="row">
                                    <div class="col-8 col-lg-10 col-md-10 col-sm-10 p-1">
                                        <input type="text" class="form-control" placeholder="Booking Time..."> 
                                    </div>
                                    <div class="col-4 col-lg-2 col-md-2 col-sm-2 p-1">
                                        <button type="submit" class="btn btn-sm btn-primary m-1"><i class="dw dw-search2 search-icon"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="row">
                                    <div class="col-12 col-lg-12 col-md-12 col-sm-12 p-1">
                                        <select class="form-control">
                                            <option value="" selected="true">--- Choose Parking ---</option>
                                            <option value="">Cao Thang Parking Lot</option>
                                            <option value="">Dong Phuong A Parking Lot</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-1">
                        <table class="table table-responsive-md">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col">#</th>
                                    <th scope="col">Booking Time</th>
                                    <th scope="col">Time Number</th>
                                    <th scope="col">Car Name</th>
                                    <th scope="col">License Plates</th>
                                    <th scope="col">Account Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>07/02/2022 18:00:20</td>
                                    <td>2 Hour</td>
                                    <td>Ferrari</td>
                                    <td>51D - 3999</td>
                                    <td>user1234</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>07/02/2022 22:15:30</td>
                                    <td>3 Hour</td>
                                    <td>Ferrari</td>
                                    <td>52F - 1234</td>
                                    <td>user2256</td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="dw dw-left-arrow-4"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="dw dw-right-arrow-4"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>    
                <!-- basic table  End -->
                <div class="footer-wrap pd-20 mb-20 card-box">
                    ParkingGo Make By <a href="#" target="_blank">T1.2008.A0</a>
                </div>
            </div>
        </div>
    </body>

</html>