<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin-layout.html}">

    <head>
        <meta charset="utf-8">
        <title>ParkingGo | Parking Manager Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <div class="main-container" layout:fragment="admin-content">
            <div class="xs-pd-20-10 pd-ltr-20">
                <div class="title pb-20">
                    <h2 class="h2 p-1 mb-2">Parking Manager</h2>
                </div>
                <!-- basic table  Start -->
                <div class="pd-20 card-box mb-30" id="list-index">
                    <div class="clearfix mb-20">
                        <div class="p-1">
                            <h6>Search Parking Name</h6>
                        </div>
                        <div class="pt-1">
                            <div class="pull-left">
                                <div class="row">
                                    <div class="col-8 col-lg-10 col-md-10 col-sm-10 p-1">
                                        <input type="text" class="form-control" placeholder="Parking Name...">
                                    </div>
                                    <div class="col-4 col-lg-2 col-md-2 col-sm-2 p-1">
                                        <button type="submit" class="btn btn-sm btn-primary m-1"><i class="dw dw-search2 search-icon"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="row">
                                    <div class="col-12 col-lg-12 p-1">
                                        <a href="#" class="btn btn-primary btn-sm scroll-click m-1" rel="content-y" data-toggle="collapse" id="create" role="button"><i class="fa fa-plus-circle"></i> Create</a>
                                    </div>
                                </div>                       
                            </div>
                        </div>
                    </div>
                    <div class="p-1">
                        <table class="table table-responsive-md">
                            <thead>
                                <tr class="table-secondary">
                                    <th scope="col">#</th>
                                    <th scope="col">Parking</th>
                                    <th scope="col">Slot</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Le Thi Rieng Parking Lot</td>
                                    <td>20</td>
                                    <td>20 / hour</td>
                                    <td class="action-center">
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i></button>
                                        <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                        <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-info-circle"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Dong Phuong A Parking Lot</td>
                                    <td>25</td>
                                    <td>25 / hour</td>
                                    <td class="action-center">
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i></button>
                                        <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                        <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-info-circle"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="dw dw-left-arrow-4"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="dw dw-right-arrow-4"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="pd-20 card-box mb-30" id="list-create">
                    <div class="clearfix mb-20">
                        <div class="p-1">
                            <h6>Create Parking</h6>
                        </div>
                    </div>
                    <form>
                        <ul class="profile-edit-list row">
                            <li class="weight-500 col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control form-control" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <label>Latitude</label>
                                    <input class="form-control form-control" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <label>Number of Parking Spaces</label>
                                    <input class="form-control form-control" type="text" value="">
                                </div>
                            </li>
                            <li class="weight-500 col-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control form-control" type="text" value="">
                                </div>

                                <div class="form-group">
                                    <label>Longitude</label>
                                    <input class="form-control form-control" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <label>Rent Cost</label>
                                    <input class="form-control form-control" type="text" value="">
                                </div>
                            </li>
                            <li class="weight-500 col-12 col-sm-12 col-md-12 col-lg-12 col-create-parking">
                                <div class="form-group mb-0 weight">
                                    <input type="submit" class="btn btn-sm btn-primary update-parking mt-0 mb-2 me-2 p-2" value="Update">
                                    <input type="submit" class="btn btn-sm btn-danger cancel-return-parking-list mt-0 mb-2 me-2 p-2" id="index" value="Cancel">
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- basic table  End -->
                <div class="footer-wrap pd-20 mb-20 card-box">
                    ParkingGo Make By <a href="#" target="_blank">T1.2008.A0</a>
                </div>
            </div>
        </div>
    </body>

</html>