<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin-layout.html}">

    <head>
        <meta charset="utf-8">
        <title>ParkingGo | Profile Page</title>
    </head>

    <body>
        <div class="main-container" layout:fragment="admin-content">
            <div class="pd-ltr-20 xs-pd-20-10">
                <div class="page-header">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-xl-4 col-lg-4 col-md-12 mb-30">
                            <div class="pd-20 card-box height-100-p">
                                <div class="profile-photo">
                                    <img th:src="@{/vendorsc/images/male.jpg}" alt="" class="avatar-photo">
                                    <h5 class="text-center h5 mb-0">user1234</h5>
                                </div>
                                <div class="profile-photo pt-4">
                                    <img class="qrcode" th:src="@{/vendorsc/images/qrcode.png}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-30">
                            <div class="profile-tab height-100-p">
                                <div class="tab height-100-p">
                                    <div class="tab-content">
                                        <!-- Timeline Tab start -->
                                        <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                                            <div class="pd-20">
                                                <form>
                                                    <ul class="profile-edit-list row">                                                       
                                                        <li class="weight-500 col-12 col-md-12">
                                                            <h2 class="h3 mb-20">Profile User</h2>
                                                        </li>
                                                        <li class="weight-500 col-12 col-sm-6 col-md-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label>Full Name</label>
                                                                <input class="form-control form-control-md" type="text" value="Noname123">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Date of birth</label>
                                                                <input class="form-control form-control-md" type="date" value="2002-10-20">
                                                            </div>
                                                        </li>
                                                        <li class="weight-500 col-12 col-sm-6 col-md-6 col-lg-6">
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                                <input class="form-control form-control-md" type="email" value="user1234@example.com">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Phone Number</label>
                                                                <input class="form-control form-control-md" type="text" value="0991112553">
                                                            </div>
                                                        </li>    
                                                        <li class="weight-500 col-12 col-md-12 form-check">
                                                            <div class="form-group mb-0 weight">
                                                                <input type="radio" class="" name="gender" value="male" checked="true"> Male
                                                                <input type="radio" class="ml-4" name="gender" value="female"> Female
                                                            </div>
                                                        </li>
                                                        <li class="weight-500 col-12 col-md-12 col-update-profile">
                                                            <div class="form-group mb-0 pt-4 weight">
                                                                <input type="submit" class="btn btn-sm btn-primary update-profile" value="Update">
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-wrap pd-20 mb-20 card-box">
                    ParkingGo Make By <a href="#" target="_blank">T1.2008.A0</a>
                </div>
            </div>
        </div>
    </body>
    
</html>