<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin-layout.html}">

    <head>
        <meta charset="utf-8">
        <title>ParkingGo | Recharge History Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <div class="main-container" layout:fragment="admin-content">
            <div class="xs-pd-20-10 pd-ltr-20">
                <div class="title pb-20">
                    <h2 class="h2 p-1 mb-0">Recharge History</h2>
                </div>
                <div class="pd-20 card-box mb-30" id="list-index">
                    <div class="clearfix mb-20 p-1">
                        <h6>Search By Date</h6>
                        <div class="pt-2 form-check-inline">
                            <div class="pull-left">
                                <form th:action="@{/a/list-transaction/search}">
                                    <div class="row form-inline">
                                        <div class="col-5 col-lg-5 col-md-5 col-sm-5 p-1">
                                            <input type="date" name="from-date" class="form-control border-primary" placeholder="From:&nbsp;">
                                        </div>
                                        <div class="col-5 col-lg-5 col-md-5 col-sm-5 p-1">
                                            <input type="date" name="to-date" class="form-control border-primary ml-2" placeholder="To:&nbsp;">
                                        </div>
                                        <div class="col-2 col-lg-2 col-md-2 col-sm-2">
                                            <button type="submit" class="btn btn-sm btn-primary ml-2"><i class="dw dw-search2 search-icon"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-res p-1">
                        <table class="table">
                            <thead>
                                <tr class="table-secondary">
                                    <th>#</th>
                                    <th>Amount</th>
                                    <th>Date Time</th>
                                    <th>Channel</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${transactionlist}">
                                    <td data-label="#" class="id-table col-lg-2" th:text="${item.transno}"></td>
                                    <td data-label="Amount" th:text="${#numbers.formatInteger(item.amount, 1 ,'COMMA')}+ ' VND'"></td>
                                    <td data-label="Date Time" th:text="${#temporals.format(item.datetime, 'dd-MM-yyyy HH:mm')}"></td>
                                    <td data-label="Channel" th:text="${item.channel}"></td>
                                    <td data-label="Type" th:text="${item.stype}"></td>
                                    <td data-label="Status">
                                        <span th:if="${item.statuscode == 0}" class="badge badge-success">Success!</span>
                                        <span th:unless="${item.statuscode == 0}" class="badge badge-danger">Failed!</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" class="d-flex justify-content-end">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" th:href="@{/a/list-transaction(page=${current - 1})}"><i class="dw dw-left-arrow-4"></i></a></li>
                                <li class="page-item" th:each="item : ${pageList}"><a class="page-link" th:text="${item}" th:href="@{/a/list-transaction(page=${item})}"></a></li>
                                <li class="page-item"><a class="page-link" th:href="@{/a/list-transaction(page=${current + 1})}"><i class="dw dw-right-arrow-4"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer-wrap pd-20 mb-20 card-box">
                    ParkingGo Make By <a href="#" target="_blank">T1.2008.A0</a>
                </div>
            </div>
        </div>
    </body>

</html>