<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>ParkingGo | Booking Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <style>
            #table-select table {
                text-align: center;
                border-collapse: separate;
                border-spacing: 10px;
            }
            #yes {
                border: 2px green solid;
                color: green;
                cursor: pointer;
            }
            #no {
                border: 2px red solid;
                color: red;
            }
            #yes,
            #no {
                width: 40px;
                height: 40px;
            }

        </style>
    </head>
    <body>
        <section layout:fragment="user-content">
            <div class="content form-parking-booking" id="form-parking-booking">
                <div class="container">
                    <div class="row align-items-stretch no-gutters contact-wrap">
                        <div class="col-md-12 col-12 col-lg-7 col-sm-12">
                            <div class="form h-100">
                                <form class="mb-5" th:action="@{/booking}" th:object="${bookingReq}" method="POST" id="contactForm" name="contactForm">
                                    <div class="row">
                                        <input th:field="*{parkingname}" type="text" value="" class="form-control mb-4" style="display: none"/>    
                                        <div class="col-md-6 form-group mb-4">
                                            <label class="p-1"><i class="fa fa-car"></i>&nbsp;Car Name:</label>
                                            <div class="input-group mb-0 pt-0">
                                                <input th:field="*{carname}" type="text" value="" class="form-control"/>
                                                <div class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label>Check Validate !</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group mb-4">
                                            <label class="p-1"><i class="far fa-clock"></i>&nbsp;Start Time:</label>
                                            <div class="input-group mb-0 pt-0">
                                                <input type="datetime-local" th:field="*{starttime}" value="" class="form-control"/>
                                                <div class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label>Check Validate !</label>
                                                </div>
                                            </div>  

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group mb-4">
                                            <label class="p-1"><i class="far fa-id-card"></i>&nbsp;License Plates:</label>
                                            <div class="input-group mb-0 pt-0">
                                                <input type="text" th:field="*{lisenceplates}" value="" class="form-control"/>
                                                <div class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label>Check Validate !</label>
                                                </div>
                                            </div>
                                     <!--                                    selected slot-->
                                            <input type="text" id="code" th:field="*{locationcode}" style="display: none" value="">
                                        </div>
                                        <div class="col-md-6 form-group mb-4">
                                            <label class="p-1"><i class="far fa-hourglass"></i>&nbsp;Time Number:</label>
                                            <div class="input-group mb-0 pt-0">
                                                <input type="number" th:field="*{timenumber}" th:onkeyup="|numberokd(${rentcost})|" id="number" class="form-control"/>
                                                <div class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label>Check Validate !</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="pt-2" style="color:#35477d; font-weight: 600; font-size: 15px;">Choose Payment Method:</h3>
                                    <div class="row">                       
                                        <div class="col-md-12 col-12 col-lg-12 col-sm-12 form-group mb-3">
                                            <div class="row row-form-check-radio-for-payment">
                                                <div class="form-momo mb-3 col-6 col-md-6 col-lg-4" style="padding-left: 10px;">
                                                    <img class="momo" th:src="@{/assetsc/img/momo.png}" onclick="checkMomo()">
                                                    <label for="radio-momo" class="title-momo">Momo</label>
                                                    <input type="radio" id="radio-momo" th:field="*{channel}" value="Momo" name="payment" checked="true"> 
                                                </div>
                                                <div class="form-zalopay mb-3 col-6 col-md-6 col-lg-4" style="padding-left: 10px;">
                                                    <img class="zalopay" th:src="@{/assetsc/img/zalopay.png}" onclick="checkZaloPay()">
                                                    <label for="radio-zalopay" class="title-zalopay">ZaloPay</label>
                                                    <input type="radio" id="radio-zalopay" th:field="*{channel}" value="Zalopay" name="payment"> 
                                                </div>
                                                <div class="form-wallet mb-3 p-2 col-6 col-md-6 col-lg-4" style="padding-left: 10px;">
                                                    <img class="wallet" th:src="@{/assetsc/img/wallet.png}" onclick="checkWallet()">
                                                    <label for="radio-wallet" class="title-wallet">Wallet</label>
                                                    <input style="margin-left:6px;" type="radio" id="radio-wallet" th:field="*{channel}" value="Wallet"  name="payment"> 
                                                </div>
                                                <div style="margin-left: 3px;" class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label>Check Validate !</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group mb-3">
                                            <input type="text" value="0 VND" id="amount" class="form-control mb-4" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group mb-3 col-btn-parking-booking">
                                            <button type="submit" id="save-parking-booking" class="mt-0 mb-2 me-2">
                                                <i class="fa fa-check-circle"></i>&nbsp;Booking</button>
                                            <a type="button" th:href="@{/map}" id="back-to-google-map" class="mt-0 mb-2 me-2">
                                                <i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 col-12 col-sm-12">
                            <div class="contact-info h-100">
                                <h3 th:text="${bookingReq.parkingname}"></h3>
                                <p class="mb-5"><i class="fa fa-map-marker-alt"></i>
                                    <span th:text="${address}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table-select">
            </div>
            <!-- Carousel End -->
        </section>
        <script th:inline="javascript" type="text/javascript" layout:fragment="code-javascript">
            function clearActive() {
                var tableSelect = document.getElementById("table-select");
                var arrTr = tableSelect.children[0].children[0];
                    for (var j = 0; j < arrTr.children.length; j++) {
                        var arrTd = tableSelect.children[0].children[0].children[j];
                            for (var i = 0; i < arrTd.children.length; i++) {
                                if (arrTd.children[i].id == 'yes') {
                                arrTd.children[i].style.color = 'green';
                                arrTd.children[i].style.border = '2px green solid';
                            }
                        }
                    }
            }
            $(document).ready(function () {
                $('#table-select #yes').click(function () {
                    clearActive();
                    this.style.color = 'blue';
                    this.style.border = '2px blue solid';
                    document.getElementById("code").value = this.textContent;
                });
            });
            loadTableSelectSlot([[${arrCode}]])
                    function loadTableSelectSlot(arr) {
                        var arr1 = ([[${listCodeBooked}]]);
                        var tableSelect = document.getElementById("table-select");
                        var table = "<table><tbody><tr>";
                        var call = 0;
                        for (var i = 1; i < arr.length + 1; i++) {
                            for (var j = 0; j < arr1.length; j++) {
                                if (arr[i - 1] == arr1[j]) {
                                    table += '<td id="no">' + arr[i - 1] + "</td>";
                                    if (i != 0 && i % ([[${columnOfRow}]]) == 0) {
                                        table += "</tr><tr>";
                                    }
                                    call = 1;
                                    break;
                                }
                            }
                            if (call == 0) {
                                table += '<td id="yes">' + arr[i - 1] + "</td>";
                                if (i != 0 && i % ([[${columnOfRow}]]) == 0) {
                                    table += "</tr><tr>";
                                }
                                } else {
                                    call = 0;
                                }
                        }
                        table += "</tbody></table>";
                        tableSelect.innerHTML = table;
                    }
            var momo = document.getElementById('radio-momo');
            var zalopay = document.getElementById('radio-zalopay');
            var wallet = document.getElementById('radio-wallet');
            function numberokd(rentcost) {
            var number = document.getElementById("number");
            var amount = document.getElementById("amount");
            amount.value = (number.value * rentcost).toLocaleString('it-IT', {style: 'currency', currency: 'VND'});
            }
            function checkMomo() {
                momo.checked = true;
            }

            function checkZaloPay() {
                zalopay.checked = true;
            }
            function checkWallet() {
                wallet.checked = true;
            }
        </script>
    </body>
</html>
