<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>Parking.Go | Index Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>
        <section layout:fragment="user-content">
            <img class="w-100" th:src="@{/assetsc/img/carousel-bg-2.jpg}" alt="Image">
        </section>   
    </body>
</html>
