<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>ParkingGo | Booking Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>
        <section layout:fragment="user-content">
            <div class="content form-parking-booking" id="form-parking-booking">
                <div class="container">
                    <div class="pb-4">
                        <h2 class="text-new-color text-uppercase text-center" th:text="${bookingReq.parkingname}"></h2>
                        <marquee class="text-new-color fw-bolder" th:text="${address}"></marquee>
                    </div>
                    <div class="row align-items-stretch no-gutters contact-wrap">
                        <div class="col-md-12 col-12 col-lg-7 col-sm-12">
                            <div class="form h-100">
                                <form class="mb-5" th:action="@{/booking}" th:object="${bookingReq}" method="POST" id="contactForm" name="contactForm">
                                    <div class="row">
                                        <input th:field="*{parkingname}" type="text" value="" class="form-control mb-4" style="display: none;"/>    
                                        <div class="col-md-6 form-group mb-2">
                                            <label class="pb-1">Car Name</label>
                                            <div class="input-group mb-0">
                                                <input th:field="*{carname}" type="text" value="" class="form-control"/>
                                                <div class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group mb-2">
                                            <label class="pb-1">Start Time</label>
                                            <div class="input-group mb-2">
                                                <input type="datetime-local" th:field="*{starttime}" value="" class="form-control"/>
                                                <div class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label></label>
                                                </div>
                                            </div>  

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group mb-2">
                                            <label class="pb-1">License Plates</label>
                                            <div class="input-group mb-2">
                                                <input type="text" th:field="*{lisenceplates}" value="" class="form-control"/>
                                                <div class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label></label>
                                                </div>
                                            </div>
                                            <!-- Selected Slot -->
                                            <input type="text" id="code" th:field="*{locationcode}" style="display: none;" value="">
                                        </div>
                                        <div class="col-md-6 form-group mb-2">
                                            <label class="pb-1">Time Number</label>
                                            <div class="input-group mb-2">
                                                <input type="number" th:field="*{timenumber}" th:onkeyup="|numberokd(${rentcost})|" id="number" class="form-control"/>
                                                <div class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 data-color="#35477d" class="pt-4 label-input-payment">Choose Payment Method:</h4>
                                    <div class="row">                       
                                        <div class="col-md-12 col-12 col-lg-12 col-sm-12 form-group mb-3">
                                            <div class="row row-form-check-radio-for-payment form-booking-method-payment">
                                                <div class="form-momo mb-3 col-md-6 col-lg-4">
                                                    <img class="img-momo" th:src="@{/assetsc/img/momo.png}" onclick="checkMomo()">
                                                    <label for="radio-momo" class="title-momo" id="title-momo"></label>
                                                    <input type="radio" id="radio-momo" th:field="*{channel}" value="Momo" name="payment"> 
                                                </div>
                                                <div class="form-zalopay mb-3 col-md-6 col-lg-4">
                                                    <img class="img-zalopay" th:src="@{/assetsc/img/zalopay.png}" onclick="checkZaloPay()">
                                                    <label for="radio-zalopay" class="title-zalopay" id="title-zalopay"></label>
                                                    <input type="radio" id="radio-zalopay" th:field="*{channel}" value="Zalopay" name="payment"> 
                                                </div>
                                                <div class="form-wallet mb-3 col-md-6 col-lg-4">
                                                    <img class="img-wallet" th:src="@{/assetsc/img/wallet.png}" onclick="checkWallet()">
                                                    <label for="radio-wallet" class="title-wallet" id="title-wallet"></label>
                                                    <input type="radio" id="radio-wallet" th:field="*{channel}" value="Wallet" name="payment"> 
                                                </div>
                                                <div class="invalid-feedback invalid-error-mess-parking-booking">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group mb-3">
                                            <input type="text" value="0 VND" id="amount" class="form-control mb-4" readonly="true"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group mb-2 col-btn-parking-booking">
                                            <!-- Booking -->
                                            <button type="submit" id="save-parking-booking" class="mb-2 me-2">
                                                <i class="fa fa-check-circle"></i>&nbsp;Booking
                                            </button>
                                            <!-- Back To Google Map-->
                                            <a type="button" th:href="@{/map}" id="back-to-google-map" class="mb-2 me-2">
                                                <i class="fa fa-undo"></i>&nbsp;Go Back
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 col-12 col-sm-12">
                            <div class="contact-info h-100">
                                <h4 class="text-center mb-4">Choose a location in the parking lot</h4>
                                <div id="table-select" class="d-flex justify-content-center align-items-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel End -->
        </section>
        <script th:inline="javascript" type="text/javascript" layout:fragment="code-javascript">
            // Parking Location
            function clearActive() {
            var tableSelect = document.getElementById("table-select");
            var arrTr = tableSelect.children[0].children[0];
            for (var j = 0; j < arrTr.children.length; j++) {
            var arrTd = tableSelect.children[0].children[0].children[j];
            for (var i = 0; i < arrTd.children.length; i++) {
            if (arrTd.children[i].id == 'yes') {
            arrTd.children[i].style.color = '#198754';
            arrTd.children[i].style.border = '2px green solid';
            }
            }
            }
            }
            $(document).ready(function () {
            $('#table-select #yes').click(function () {
            clearActive();
            this.style.color = '#4e73df';
            this.style.border = '2px blue solid';
            document.getElementById("code").value = this.textContent;
            });
            });
            loadTableSelectSlot([[${arrCode}]])
                    function loadTableSelectSlot(arr) {
                    var arr1 = ([[${listCodeBooked}]]);
                    var tableSelect = document.getElementById("table-select");
                    var table = "<table><tbody><tr>";
                    var call = 0;
                    for (var i = 1; i < arr.length + 1; i++) {
                    for (var j = 0; j < arr1.length; j++) {
                    if (arr[i - 1] == arr1[j]) {
                    table += '<td id="no">' + arr[i - 1] + "</td>";
                    if (i != 0 && i % ([[${columnOfRow}]]) == 0) {
                    table += "</tr><tr>";
                    }
                    call = 1;
                    break;
                    }
                    }
                    if (call == 0) {
                    table += '<td id="yes">' + arr[i - 1] + "</td>";
                    if (i != 0 && i % ([[${columnOfRow}]]) == 0) {
                    table += "</tr><tr>";
                    }
                    } else {
                    call = 0;
                    }
                    }
                    table += "</tbody></table>";
                    tableSelect.innerHTML = table;
                    }

            // Payment Method
            var radio_momo = document.getElementById('radio-momo');
            var radio_zalopay = document.getElementById('radio-zalopay');
            var radio_wallet = document.getElementById('radio-wallet');
            function numberokd(rentcost) {
            var number = document.getElementById("number");
            var amount = document.getElementById("amount");
            amount.value = (number.value * rentcost).toLocaleString('it-IT', {style: 'currency', currency: 'VND'});
            }
            function checkMomo() {
            radio_momo.checked = true;
            }
            function checkZaloPay() {
            radio_zalopay.checked = true;
            }
            function checkWallet() {
            radio_wallet.checked = true;
            }
            
            // Method Payment
            var title_momo = document.getElementById('title-momo');
            var title_zalopay = document.getElementById('title-zalopay');
            var title_wallet = document.getElementById('title-wallet');

            title_momo.innerHTML = 'Momo';
            title_zalopay.innerHTML = 'Zalopay';
            title_wallet.innerHTML = 'Wallet';
        </script>
    </body>
</html>
