<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/user-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>Direct Payment Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>  
        <section layout:fragment="user-content">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="nav-profile-manager">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav">
                                    <div>
                                        <li class="nav-item nav-link"><a th:href="@{/profile}"><i class="fa fa-user"></i>&nbsp;Profile</a></li>
                                    </div>
                                    <li class="dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-wallet"></i>&nbsp;Wallet Payment
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-profile" th:href="@{/d-payment}">Direct Payment</a></li>
                                            <li><a class="dropdown-profile" th:href="@{/e-payment}">Electronic Payment</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-history"></i>&nbsp;History
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-profile" th:href="@{/history?page=0}">Transaction History</a></li>
                                            <li><a class="dropdown-profile" th:href="@{/u/parking-history?page=0}">Parking History</a></li>
                                        </ul>
                                    </li>
                                    <div>
                                        <li class="nav-item nav-link"><a th:href="@{/list-booking}"><i class="fa fa-parking"></i>&nbsp;Booking</a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="container" id="direct-payment">
                            <div class="row g-4 mb-3 pb-3 recharge">
                                <div class="pb-1 pt-4">
                                    <h2 class="h2 text-new-color">// Direct Payment //</h2>
                                </div>
                                <div class="container show-wallet">
                                    <label><i class="fa fa-wallet"></i>&nbsp;<span th:text="${#numbers.formatInteger(balance, 3, 'COMMA') + ' VND'}"/></label>
                                </div>
                                <form th:action="@{/generator-qrcode}" method="GET" id="form-direct-payment" class="form-direct-payment">
                                    <div class="row payment">
                                        <div class="col-12 col-lg-6 col-md-12 col-sm-12 pt-2">
                                            <label class="label-input-payment mb-2 h3" style="color:#35477d; font-weight: 600;">Input Payment:</label>
                                            <div class="input-group pt-2">    
                                                <input autocomplete="off" class="form-control amount-dp" th:name="amount" type="number" id="amount-dp" placeholder="0"/>
                                                <div th:if="${amountValid}" class="invalid-feedback invalid-error-mess-d-payment" id="invalid-error-mess-d-payment">
                                                    <span th:text="${amountValid}"></span>
                                                </div>
                                            </div>
                                            <div class="select-amount p-2">
                                                <div class="row pt-2 mb-4">
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-0 p-1 d-flex justify-content-center">
                                                        <input type="button" id="" onclick="changeSelectAmount(1)" class="p-2" value="10.000 VND">
                                                    </div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-0 p-1 d-flex justify-content-center">
                                                        <input type="button" id="" onclick="changeSelectAmount(2)" class="p-2" value="20.000 VND">
                                                    </div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-0 p-1 d-flex justify-content-center">
                                                        <input type="button" id="" onclick="changeSelectAmount(5)" class="p-2" value="50.000 VND">
                                                    </div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-0 p-1 d-flex justify-content-center">
                                                        <input type="button" id="" onclick="changeSelectAmount(10)" class="p-2" value="100.000 VND" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                            <div th:if="${displaycode}" class="col-direct-payment-qrcode pt-3 mb-3 pb-3">
                                                <img class="direct-payment-qrcode get-qrcode mb-2" th:src="${displaycode}"/>
                                                <p class="text-center title-qrcode-booking">Your QR Code</p>
                                            </div>
                                            <div th:unless="${displaycode}" class="col-direct-payment-qrcode pt-3 mb-3 pb-3">
                                                <img class="direct-payment-qrcode get-noqrcode mb-2" th:src="@{/assetsc/img/no-qrcode.png}" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-0 mb-2 col-btn-qrcode-direct-payment">
                                            <button type="submit" class="btn-qrcode-direct-payment mt-0 mb-2 p-2"><i class="fa fa-qrcode"></i> QR Code</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
