<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/user-layout.html}">

    <head>
        <meta charset="utf-8">
        <title>Parking.Go | Electronic Payment Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>

    <body>  
        <section layout:fragment="user-content">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="nav-profile manager">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs">
                                    <div class="">
                                        <li class="nav-item nav-link"><a th:href="@{/profile}">Profile</a></li>
                                    </div>
                                    <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Wallet Payment<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-item" th:href="@{/d-payment}">Direct Payment</a></li>
                                            <li><a class="dropdown-item" th:href="@{/e-payment}">Electronic Payment</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">History<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-item" th:href="@{/history?page=0}">Transaction History</a></li>
                                            <li><a class="dropdown-item" th:href="@{/u/parking-history?page=0}">Parking History</a></li>
                                        </ul>
                                    </li>
                                    <div>
                                        <li class="nav-item nav-link"><a th:href="@{/list-booking}">Booking</a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="container" id="electronice-payment">
                            <div class="row g-4 mb-3 pb-3 recharge">
                                <div class="pb-1 pt-4">
                                    <h2>// Electronic Payment //</h2>
                                </div>
                                <div th:if="${balance}" class="container amount">
                                    <lable><i class="fa fa-wallet"></i> <span th:text="${balance}"/> VND</lable>
                                </div>
                                <form th:action="@{/e-payment}" th:object="${rechargeReq}" method="POST">
                                    <div class="row payment">
                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 pt-4 form-check">
                                            <lable>Choose Payment Method:</lable>
                                            <div class="class-momo p-2">
                                                <img class="momo" th:src="@{/assetsc/img/momo.png}">
                                                <span class="p-1">
                                                    Momo
                                                </span>
                                                <input style="width: 40px;" type="radio" name="" th:field="*{channel}" value="Momo"> 
                                            </div>
                                            <div class="class-zalopay p-2">
                                                <img class="zalopay" th:src="@{/assetsc/img/zalopay.png}">
                                                <span class="p-1">
                                                    ZaloPay
                                                </span>
                                                <input style="width: 22.5px;" type="radio" name=""  th:field="*{channel}" value="Zalopay"> 
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12 pt-4">
                                            <lable>Input Amount: </lable>
                                            <input class="form-control" id="" name="" type="number" placeholder="0" th:field="*{amount}"/>
                                            <div class="p-2 select-amount">
                                                <div class="row pt-4">
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-0 p-1 d-flex justify-content-center">
                                                        <input type="button" class="btn btn-sm btn-success p-2" value="20.000 VND" />
                                                    </div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-0 p-1 d-flex justify-content-center">
                                                        <input type="button" class="btn btn-sm btn-success p-2" value="50.000 VND" />
                                                    </div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-0 p-1 d-flex justify-content-center">
                                                        <input type="button" class="btn btn-sm btn-success p-2" value="100.000 VND" />
                                                    </div>
                                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mt-0 p-1 d-flex justify-content-center">
                                                        <input type="button" class="btn btn-sm btn-success p-2" value="150.000 VND" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 pt-4">
                                            <div class="submit-payment d-flex justify-content-center">
                                                <button type="submit" class="btn btn-primary btn-sm mt-0 mb-2 me-2 p-2"><i class="fa fa-money-check"></i> Payment</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
