<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/user-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>ParkingGo | Electronic Payment Detail</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>
        <section layout:fragment="user-content">
            <!-- Carousel Start -->
            <div class="container-xxl py-5 booking-create" id="e-payment-detail">
                <div class="container">
                    <div class="pb-4 pt-4">
                        <h2 class="text-primary text-uppercase text-center h3">// Payment Successfully !//</h2>
                        <div class="d-flex justify-content-center">
                            <img style="width: 100px;" th:src="@{/assetsc/img/icon-success-circle-green-tick.png}" alt="Image">
                        </div>
                    </div>
                    <div class="box box-successfully-e-payment">
                        <div class="row">
                            <center>
                                <form th:object="${transactionReq}" id="form-e-payment-detail">
                                    <div class="invoice-box">
                                        <table class="table table-striped">
                                            <tr class="">
                                                <th scope="col">No:</th> 
                                                <td>  
                                                    <label th:text="*{paymentReq.transno}"></label>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <th scope="col">Username:</th> 
                                                <td>
                                                    <label th:text="*{username}"></label>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <th scope="col">Amount:</th> 
                                                <td>
                                                    <label th:text="*{amount}"></label>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <th scope="col">Channel:</th> 
                                                <td>
                                                    <label th:text="*{paymentReq.channel}"></label>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <th scope="col">Type:</th> 
                                                <td>
                                                    <label th:text="*{stype}"></label>
                                                </td> 
                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <td colspan="2" style="text-align: right;"> 
                                                    <a th:href="@{/e-payment}"><i class="fa fa-arrow-right"></i> Back to Page</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>                               
                                </form>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>