<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/user-layout.html}">

    <head>
        <meta charset="utf-8">
        <title>Parking.Go | Index Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <style>
    </style>

    <body>
        <section layout:fragment="user-content">
            <!-- Carousel Start -->
            <div class="container-xxl py-5 booking-create">
                <div class="container">
                    <div class="pb-4 pt-4">
                        <h2 class="text-primary text-uppercase text-center">// Payment Successfull! //</h2>
                        <br>
                        <center><img class="col-1" th:src="@{/assetsc/img/icon-success-circle-green-tick.png}" alt="Image">
                        </center>
                        <br>
                    </div>
                    <div class="box">
                        <div class="row">
                            <center>
                                <form th:object="${transactionReq}">
                                    <div class="col-md-5">
                                        <div class="row g-4 mb-3 pb-3">
                                            <div class="col-md-6 d-flex align-items-center justify-content-md-start">
                                                <lable> No</lable>
                                            </div>
                                            <div class="col-md-6 d-flex align-items-center justify-content-md-end">
                                                <lable th:text="*{paymentReq.transno}"  ></lable>
                                            </div>
                                        </div>
                                        <div class="row g-4 mb-3 pb-3">
                                            <div class="col-md-6 d-flex align-items-center justify-content-md-start">
                                                <lable> Name</lable>
                                            </div>
                                            <div class="col-md-6 d-flex align-items-center justify-content-md-end">
                                                <lable  th:text="*{username}">  </lable>
                                            </div>
                                        </div>
                                        <div class="row g-4 mb-3 pb-3">
                                            <div class="col-md-6  d-flex align-items-center justify-content-md-start">
                                                <lable> Amount</lable>
                                            </div>
                                            <div class="col-md-6  d-flex align-items-center justify-content-md-end">
                                                <lable th:text="*{amount}"> </lable>
                                            </div>
                                        </div>
                                        <div class="row g-4 mb-3 pb-3">
                                            <div class="col-md-6 d-flex align-items-center justify-content-md-start">
                                                <lable > Channel</lable>
                                            </div>
                                            <div class="col-md-6 d-flex align-items-center justify-content-md-end">
                                                <lable th:text="*{paymentReq.channel}"> </lable>
                                            </div>
                                        </div>
                                        <div class="row g-4 mb-3 pb-3">
                                            <div class="col-md-6  d-flex align-items-center justify-content-md-start">
                                                <lable> Type</lable>
                                            </div>
                                            <div class="col-md-6  d-flex align-items-center justify-content-md-end">
                                                <lable th:text="*{stype}"> </lable>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </center>
                        </div>
                    </div>
                </div>
                <!-- Carousel End -->
        </section>
    </body>

</html>