<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title>Google Map Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link th:href="@{/assetsc/img/icon.png}" rel="icon">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        <link th:href="@{/assetsc/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />
        <link th:href="@{/assetsc/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assetsc/css/style.css}" rel="stylesheet">
        <link th:href="@{/assetsc/css/google-map.css}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhV4sgNAhuT-EchYl6tjM9L9FQqe5k9U&address=590%20cach%20mang%20thang%208&language=en&fbclid=IwAR1zFsITJV9jYpjNzKuZWM67XCKZqD76bSYVRRLcKyOOvruSZ446LguY0Ew&libraries=places&v=weekly&callback=showMap"></script>
    </head>
    <body>
        <!-- Google Map Start -->
        <div class="wrapper-google-map">
            <input type="checkbox" id="btn" hidden>
            <label for="btn" class="menu-btn">
                <i class="fa fa-bars"></i>
                <i class="fa fa-times"></i>
            </label>
            <label for="" class="location-btn">
                <button id="getLocation">
                    <i class="fa fa-map-marker-alt"></i>
                </button>
            </label>
            <nav id="sidebar">
                <div class="title">
                    <h4>
                        <button class="return-index-from-google-map">
                            <a th:href="@{/home/user}" style="color:#fff;">                            
                                <i class="fa fa-arrow-alt-circle-left"></i>
                            </a>
                        </button>
                        <span>ParkingGo</span>
                    </h4>
                    <div class="form-direction">
                        <input class="form-control" id="distance" type="text" value="Distance: 0 km" readonly />
                        <input class="form-control" id="duration" type="text" value="Duration: 0 mins" readonly />
                    </div>
                </div>
                <form action="" id="form-list">
                    <div id="list-google-map" class="list-google-map">
                        <ul class="list-items"></ul>
                    </div>
                </form>
            </nav>
        </div>
        <div class="content-google-map">
            <div id="map"></div>
        </div>
        <!-- Google Map End -->
        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script th:inline="javascript" type="text/javascript" layout:fragment="code-javascript">
            var parkingLocations = ([[${listparking}]]);
        </script>
        <script th:src="@{/assetsc/js/map.js}"></script>
    </body>
</html>
