<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/user-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>Parking.Go | History Transaction Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>

    <body>  
        <section layout:fragment="user-content">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="nav-profile manager">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs">
                                    <div class="">
                                        <li class="nav-item nav-link"><a th:href="@{/profile}">Profile</a></li>
                                    </div>
                                    <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Wallet Payment<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-item" th:href="@{/d-payment}">Direct Payment</a></li>
                                            <li><a class="dropdown-item" th:href="@{/e-payment}">Electronic Payment</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">History<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-item" th:href="@{/history?page=0}">Transaction History</a></li>
                                            <li><a class="dropdown-item" th:href="@{/u/parking-history?page=0}">Parking History</a></li>
                                        </ul>
                                    </li>
                                    <div>
                                        <li class="nav-item nav-link"><a th:href="@{/list-booking}">Booking</a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="container" id="history">
                            <div class="row g-4 mb-3 pb-3">
                                <div class="pb-1 pt-4">
                                    <h2>// History //</h2>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <div class="row">
                                            <form th:action="@{/history/search}" method="GET">
                                                <div class="col-6 col-lg-5 col-md-5 col-sm-5 p-1">
                                                    <input type="date" name="from-date" class="form-control" placeholder="From day...">
                                                </div>
                                                <div class="col-6 col-lg-5 col-md-5 col-sm-5 p-1">
                                                    <input type="date" name="to-date" class="form-control" placeholder="To day...">
                                                </div>
                                                <div class="col-6 col-lg-2 col-md-2 col-sm-2 p-1">
                                                    <button type="submit" class="btn btn-sm btn-primary m-1"><i class="fa fa-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6"></div>
                                </div>
                                <div class="table-responsive-md">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">No</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Date Time</th>
                                                <th scope="col">Channel</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Parking Name</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="trans : ${transactionlist}">
                                                <td th:text="${trans.transno}"></td>
                                                <td type="number" th:text="${#numbers.formatInteger (trans.amount, 3, 'POINT') + ' VND'}"></td>
                                                <td type="date" th:text="${#temporals.format(trans.datetime, 'dd-MM-yyyy HH:mm')}"></td>
                                                <td th:text="${trans.channel}"></td>
                                                <td> 
                                                    <span th:if="${trans.stype == 'e-Booking'}">E-payment Booking</span> 
                                                    <span th:if="${trans.stype == 'e-Recharge'}">E-payment Recharge</span> 
                                                </td>
                                                <td th:text="${trans.parkingname}"></td>
                                                <td>
                                                    <span th:if="${trans.statuscode == 0}" class="badge badge-success">Success!</span>
                                                    <span th:unless="${trans.statuscode == 0}" class="badge badge-danger">Failed!</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="Page navigation example" class="d-flex justify-content-end">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" th:href="@{/history(page=${current - 1})}">Previous</a></li>
                                        <li class="page-item" th:each="item : ${pageList}"><a class="page-link" th:text="${item}" th:href="@{/history(page=${item})}"></a></li>
                                        <li class="page-item"><a class="page-link" th:href="@{/history(page=${current + 1})}">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
