<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/user-layout.html}">

    <head>
        <meta charset="utf-8">
        <title>Parking.Go | Profile Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>

    <body>
        <section layout:fragment="user-content">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="nav-profile manager">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs">
                                    <div class="">
                                        <li class="nav-item nav-link"><a th:href="@{/profile}">Profile</a></li>
                                    </div>
                                    <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Wallet Payment<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-item" th:href="@{/d-payment}">Direct Payment</a></li>
                                            <li><a class="dropdown-item" th:href="@{/e-payment}">Electronic Payment</a></li>
                                        </ul>
                                    </li>
                                    <div>
                                        <li class="nav-item nav-link"><a th:href="@{/history}">History</a></li>
                                    </div>
                                    <div>
                                        <li class="nav-item nav-link"><a th:href="@{/list-booking}">Booking</a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="container profile">
                            <div class="pb-4 pt-4">
                                <h2 class="">// Your Information //</h2>
                            </div>
                            <form th:action="@{/profile}" th:object="${profile}" id="form_profile" method="POST">
                                <div class="row g-4 mb-3 pb-3">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                        <lable><i class="fa fa-user"></i> Full Name</lable>
                                        <input type="text" class="mb-4 form-control" th:field="*{fullname}" id="fullname" readonly="true">
                                        <lable><i class="fa fa-calendar-alt"></i> Date of Birth</lable>
                                        <input type="date" class="mb-4 form-control" th:value="${profile.getDob()}" th:field="*{dob}"id="dob" readonly="true">
                                        <lable><i class="fa fa-wallet"></i> Balance</lable>
                                        <input type="text" th:field="*{balance}" class="form-control" readonly="true">
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                        <lable><i class="fa fa-phone-alt"></i> Phone</lable>
                                        <input type="number" class="mb-4 form-control" th:field="*{phone}" id="phone" readonly="true">
                                        <lable><i class="fa fa-envelope"></i> Email</lable>
                                        <input type="text" class="mb-4 form-control" th:field="*{email}"  id="email" readonly="true">
                                        <lable><i class="fa fa-address-card"></i> Identity Card</lable>
                                        <input type="number" class="form-control" th:field="*{identitycard}" id="identitycard" readonly="true">
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-qrcode pt-4">
                                        <img class="qrcode mb-2" th:src="${displaycode}"/>
                                        <p>Your QR Code</p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 button-edit pt-4">
                                        <!-- Edit Start -->
                                        <button type="button" id="edit" onclick="reDisable()" class="btn btn-settings btn-primary mt-0 mb-2 me-2 p-2"><i class="fa fa-cog"></i> Update</button>
                                        <!-- Edit End -->
                                        <!-- Save and Cancel Start -->
                                        <button type="submit" id="save" class="btn btn-success mt-0 mb-2 me-2 p-2"><i class="fa fa-check-circle"></i> Save</button>
                                        <a type="button" th:href="@{/profile}" id="cancel" class="btn btn-danger mt-0 mb-2 me-2 p-2 a-cancel"><i class="fa fa-arrow-left"></i> Cancel</a>
                                        <!-- Save and Cancel End -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
