<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>ParkingGo | QR Code Booking Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>  
        <section layout:fragment="user-content">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="nav-profile-manager">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav">
                                    <div>
                                        <li class="nav-item nav-link"><a th:href="@{/profile}"><i class="fa fa-user"></i>&nbsp;Profile</a></li>
                                    </div>
                                    <li class="dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-wallet"></i>&nbsp;Wallet Payment
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-profile" th:href="@{/d-payment}">Direct Payment</a></li>
                                            <li><a class="dropdown-profile" th:href="@{/e-payment}">Electronic Payment</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-history"></i>&nbsp;History
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-profile" th:href="@{/history?page=0}">Transaction History</a></li>
                                            <li><a class="dropdown-profile" th:href="@{/u/parking-history?page=0}">Parking History</a></li>
                                        </ul>
                                    </li>
                                    <div>
                                        <li class="nav-item nav-link"><a th:href="@{/list-booking}"><i class="fa fa-parking"></i>&nbsp;Booking</a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="container" id="form-qrcode-booking">
                            <div th:if="${listBookingRes}" class="row g-4 mb-3 pb-3" id="booking">
                                <div class="pb-1 pt-4">
                                    <h2 class="h2 text-primary">// List Booking //</h2>
                                </div>
                                <div class="table-res-history">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Parking Name</th>
                                                <th>Amount</th>
                                                <th>Date Time</th>
                                                <th>Time Number</th>
                                            </tr>
                                        </thead>
                                        <tbody style="cursor: pointer;">
                                            <tr th:each="item : ${listBookingRes}" th:value="${item.getId()}">
                                                <td data-label="#" class="id-table col-lg-2" id="bookingid" th:text="${item.getId()}"></td>
                                                <td data-label="Parking Name" th:text="${item.getParkingname()}"></td>
                                                <td data-label="Amount" th:text="${#numbers.formatInteger(item.getPrice(), 1, 'COMMA') + ' VND'}"></td>
                                                <td data-label="Date Time" th:text="${item.getStarttime()}"></td>
                                                <td data-label="Time Number" class="col-lg-2" th:text="${item.getTimenumber()}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div th:if="${bookingDetailRes}" class="row booking-create row g-4 mb-3 pb-3" id="booking-create">
                                <div class="pb-1 pt-4">
                                    <h2 class="text-primary">// Booking Details //</h2>
                                </div>
                                <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                    <label class="p-1"><i class="fa fa-parking"></i>&nbsp;Parking Name:</label>
                                    <div class="input-group mb-3">
                                        <input type="text" th:value="${bookingDetailRes.parkingname}" class="form-control" readonly="true"/>
                                    </div>
                                    <label class="p-1"><i class="fa fa-car"></i>&nbsp;Car Name:</label>
                                    <div class="input-group mb-3">
                                        <input type="text" th:value="${bookingDetailRes.carname}" class="form-control" readonly="true"/>
                                    </div>
                                    <label class="p-1"><i class="far fa-clock"></i>&nbsp;Start Time:</label>
                                    <div class="input-group mb-3">
                                        <input type="datetime" th:value="${#temporals.format(bookingDetailRes.starttime, 'dd-MM-yyyy HH:mm')}" class="form-control" readonly="true"/>
                                    </div>
                                    <label class="p-1"><i class="far fa-hourglass"></i>&nbsp;Time Number:</label>
                                    <div class="input-group">
                                        <input type="number" th:value="${bookingDetailRes.timenumber}" class="form-control" readonly="true"/>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                    <label class="p-1"><i class="far fa-id-card"></i>&nbsp;License Plates:</label>
                                    <div class="input-group mb-3">                                     
                                        <input type="text" th:value="${bookingDetailRes.lisenceplates}" class="form-control" readonly="true"/>
                                    </div>
                                    <label class="p-1"><i class="fa fa-wallet"></i>&nbsp;Amount:</label>
                                    <div class="input-group mb-3">
                                        <input type="text" th:value="${#numbers.formatInteger(bookingDetailRes.price, 1, 'COMMA') + ' VND'}" class="form-control" readonly="true"/>
                                    </div>
                                    <img class="qrcode-booking mb-2" th:src="${displaycode}" />
                                    <p class="text-center title-qrcode-booking">Your Qr Code</p>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2 mb-2 col-button-edit-qrcode-booking button-edit">
                                    <a type="button" th:href="@{/list-booking}" id="back-to-booking-list" class="mt-0 mb-2 me-2 p-2"><i class="fa fa-arrow-left"></i>&nbsp;Back to List</a>
                                    <a type="button" th:href="@{/map}" id="guide-direction" class="mt-0 mb-2 me-2 p-2"><i class="far fa-map"></i>&nbsp;Guide</a>
                                    <a type="button" th:href="@{'/export/pdf?id=' + ${id}}" id="export-receipt" class="mt-0 mb-2  me-2 p-2"><i class="fa fa-print"></i>&nbsp;Receipt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
