<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user-layout.html}">
    <head>
        <meta charset="utf-8">
        <title>ParkingGo | QR Code Booking Page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>

    <body>  
        <section layout:fragment="user-content">
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="nav-profile manager">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs">
                                    <div class="">
                                        <li class="nav-item nav-link"><a th:href="@{/profile}"><i class="fa fa-user"></i> Profile</a></li>
                                    </div>
                                    <li class="dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-wallet"></i> Wallet Payment<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-item" th:href="@{/d-payment}"><i class="fa fa-arrow-right"></i> Direct Payment</a></li>
                                            <li><a class="dropdown-item" th:href="@{/e-payment}"><i class="fa fa-arrow-right"></i> Electronic Payment</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">History<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu fade-up m-0">
                                            <li><a class="dropdown-item" th:href="@{/history?page=0}">Transaction History</a></li>
                                            <li><a class="dropdown-item" th:href="@{/u/parking-history?page=0}">Parking History</a></li>
                                        </ul>
                                    </li>
                                    <div>
                                        <li class="nav-item nav-link"><a th:href="@{/list-booking}"><i class="fa fa-parking"></i> Booking</a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="container" id="booking">
                            <div th:if="${listBookingRes}" class="row g-4 mb-3 pb-3" id="booking-list">
                                <div class="pb-1 pt-4">
                                    <h2 class="h3">// List Booking //</h2>
                                </div>
                                <div class="table-responsive-md">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr class="">
                                                <th scope="col">#</th>
                                                <th scope="col">Parking</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Date Time</th>
                                                <th scope="col">Time Number</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${listBookingRes}" th:value="${item.getId()}">
                                                <th scope="row" id="bookingid" th:text="${item.getId()}"></th>
                                                <td th:text="${item.getParkingname()}"></td>
                                                <td th:text="${item.getPrice()}"></td>
                                                <td th:text="${item.getStarttime()}"></td>
                                                <td th:text="${item.getTimenumber()}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div th:if="${bookingDetailRes}" class="row booking-create" id="booking-create">
                                <div class="pb-4 pt-4">
                                    <h2>// Booking Details //</h2>
                                </div>
                                    <div class="row g-4 mb-3 pb-3">
                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                            <lable><i class="fa fa-parking"></i> Parking</lable>
                                            <input type="text" th:value="${bookingDetailRes.parkingname}" class="form-control mb-4"/>
                                            <lable><i class="fa fa-car"></i> Car Name</lable>
                                            <input type="text" th:value="${bookingDetailRes.carname}" class="form-control mb-4"/>
                                            <lable><i class="fa fa-clock"></i> Start Time</lable>
                                            <input type="datetime" th:value="${#temporals.format(bookingDetailRes.starttime, 'dd-MM-yyyy HH:mm')}" class="form-control mb-4"/>
                                            <lable><i class="fa fa-times"></i> Timer Number</lable>
                                            <input type="number" th:value="${bookingDetailRes.timenumber}" class="form-control mb-4"/>
                                        </div>
                                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                            <lable><i class="fa fa-id-card"></i> License Plates</lable>
                                            <input type="text" th:value="${bookingDetailRes.lisenceplates}" class="form-control mb-4"/>
                                            <lable><i class="fa fa-wallet"></i> Amount</lable>
                                            <input type="number" th:value="${bookingDetailRes.price}" class="form-control mb-4"/>
                                            <img class="qrcode mb-2" th:src="${displaycode}" />
                                            <p class="text-center">Your Qr Code</p>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-4 button-edit">
                                            <!-- Cancel Start -->
                                            <a type="button" th:href="@{/list-booking}" id="back-to-booking-list" class="btn btn-danger mt-0 mb-2 me-2 p-2"><i class="fa fa-arrow-left"></i> Back to List</a>
                                            <button type="button" id="guide-direction" class="btn btn-success mt-0 mb-2 me-2 p-2"><a class="a-back-to-booking-list" href=""><i class="fa fa-arrow-alt-circle-right"></i> Guide</a></button>
                                            <a type="button" th:href="@{'/export/pdf?id=' + ${id}}" id="back-to-booking-list" class="btn btn-primary mt-0 mb-2 me-2 p-2"><i class="fa fa-arrow-left"></i> Export Receipt</a>
                                            <!-- Cancel End -->
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                        <lable><i class="fa fa-id-card"></i> License Plates</lable>
                                        <input type="text" th:value="${bookingDetailRes.lisenceplates}" class="form-control mb-4"/>
                                        <lable><i class="fa fa-wallet"></i> Amount</lable>
                                        <input type="number" th:value="${bookingDetailRes.price}" class="form-control mb-4"/>
                                        <img class="qrcode mb-2" th:src="${displaycode}" />
                                        <p class="text-center">Your Qr Code</p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 pt-4 button-edit">
                                        <!-- Cancel Start -->
                                        <a type="button" th:href="@{/list-booking}" id="back-to-booking-list" class="btn btn-danger mt-0 mb-2 me-2 p-2"><i class="fa fa-arrow-left"></i> Back to List</a>
                                        <button type="button" id="guide-direction" class="btn btn-success mt-0 mb-2 me-2 p-2"><a class="a-back-to-booking-list" href=""><i class="fa fa-arrow-alt-circle-right"></i> Guide</a></button>
                                        <!-- Cancel End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
